#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -Dm644 data/io.github.snipr.SnipR.desktop debian/snipr/usr/share/applications/io.github.snipr.SnipR.desktop
	install -Dm644 data/io.github.snipr.SnipR.svg debian/snipr/usr/share/icons/hicolor/scalable/apps/io.github.snipr.SnipR.svg
